{% extends 'base.html' %}

{% block titulo %}Status{% endblock %}

{% block contenido %}
<h1>Estado de la inversion  </h1>
<form action="/status" method="post">
    <fieldset class="container">
        <div>
            <label for="invertido">Invertido</label>
            <input disabled type="text" name="invertido" value ={{inversion}} €>
        </div>
        <div >
            <label for="valor actual">valor actual</label>
            <input  disabled type="text" name="valor actual" value={{valorActual}} €>
        </div>
    </fieldset>
</form>
{% endblock %}